.dark-body {
  background-color: #000;
}

.light-body {
  background-color: #fff;
}

.project-container {
  padding-bottom: 1rem;
}

.carousel-item {
  height: 65vh;
}

.carousel-arrow {
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.25s linear;
  margin: 0.5rem;
}

.carousel-arrow:hover {
  box-shadow: 0px 4px 8px 0px rgba(37, 117, 252, 0.35);
  transition: all 0.25s linear;
  transform: translateY(-0.25rem);
}

.app-icon-container {
  border-radius: 1rem;
  overflow: hidden;
  z-index: 2;
}

.app-icon {
  width: 6rem;
  border-radius: 1rem;
}

.shadow-app-icon-container {
  position: absolute;
  top: 2.8em;
  opacity: 0.9;
}

.shadow-app-icon {
  width: 4rem;
  z-index: 1;
  filter: blur(1rem);
}

.badge {
  width: 14rem;
}

.tech-icon {
  width: 4rem;
}

.store-icon-container {
  display: flex;
  align-self: center;
  width: 65%;
}

.store-icon {
  object-fit: contain;
}

.action-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4%;
  padding-left: 4%;
  z-index: 3;
}

.back-arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: 2%;
}

.back-arrow-container span {
  font-size: 0.85rem;
  opacity: 0;
  transform: translateX(-2rem);
  transition: all 0.25s linear;
  z-index: 1;
}

.back-arrow-container:hover span {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.15s linear;
  margin-left: 0.3rem;
}

.back-arrow {
  font-size: 2rem;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 960px) {
  .carousel-item {
    height: 35vh;
    object-fit: cover;
  }
  .screen-container {
    padding: 0;
  }
}

@media (max-width: 720px) {
  .app-container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .meta-info-container {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .store-icon-container {
    width: 60%;
    justify-content: center;
  }

  .project-container {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel-arrow {
    display: none;
  }
}

@media (max-width: 1024px) {
  .action-bar {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 720px) {
  .action-bar {
    padding-left: 4%;
    padding-right: 0%;
  }

  .light-container .back-arrow {
    filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.5));
  }

  .dark-container .back-arrow {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
  }

  .back-arrow {
    margin-top: 1rem;
  }

  .back-arrow-container span {
    margin-top: 0.9rem;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
  }
}
