#loader {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.65s, visibility 0.65s;
}
#loader svg {
  height: 40vh;
  object-fit: contain;
}
#stop-1 {
  animation: change-color1 1.5s ease-in-out infinite alternate;
}
#stop-2 {
  animation: change-color2 1.5s ease-in-out infinite alternate;
}
@keyframes change-color1 {
  0% {
    stop-color: #6a11cb;
  }
  100% {
    stop-color: #2575fc;
  }
}

@keyframes change-color2 {
  0% {
    stop-color: #2575fc;
  }
  100% {
    stop-color: #6a11cb;
  }
}

@keyframes hide {
  0% {
    display: flex;
    opacity: 1;
  }
  99% {
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 720px) {
  #loader svg {
    height: 30vh !important;
  }
}

.body-normal {
  overflow: auto !important;
}
