@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@screen dark-mode {
  .home-container {
    @apply bg-black;
  }
}

.light-container {
  transition: all 0.25s ease-in-out;
  @apply bg-white;
  @apply text-black;
  @apply fill-light !important;
}

.dark-container {
  transition: all 0.25s ease-in-out;
  @apply bg-black;
  @apply text-white;
  @apply fill-dark !important;
}

.dark-container .BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  background-color: #fff;
  transition: all 0.25s linear;
}

.light-container .social-icon g {
  transition: all 0.25s linear;
  filter: invert(1);
  fill: #000;
}

.light-container .app-icon-border {
  border: 1px solid #ebebeb;
}

.dark-container .social-icon g {
  transition: all 0.25s linear;
  fill: #fff;
}

body,
html {
  height: 100%;
}
